* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(63, 224, 213);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    /* border: 2px solid black; */
}

.navbar h2 > a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-items ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    /* border: 2px solid black; */
    font-size: 23px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.nav-items ul > li {
    list-style: none;
    
}
.nav-items ul > li > a {
    text-decoration: none;
    color: black;
}

.nav-items ul > li > a:hover {
    text-decoration: underline;
    color: brown;
}