* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;

}
.navbar {
    background-color: rgb(63, 224, 213);
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    /* border: 2px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar h2 > a {
    text-decoration: none;
    color: black;
    font-size: 26px;
}
.nav-items ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    /* border: 2px solid black; */
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}

.nav-items ul > li {
    list-style: none;
    font-size: 20px;
    
}
.nav-items ul > li > a {
    text-decoration: none;
    color: black;
}

.nav-items ul > li > a:hover {
    /* text-decoration: underline; */
    color: rgb(63, 19, 184);
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    padding: 20px;
    margin: 50px;
    margin-top: 180px;
}

.contents h3 {
    font-size: 25px;
}
.contents h1 {
    font-size: 45px;
    font-weight: bold;
}
.contents h2 {
    font-size: 28px;
}
.contents h2 span {
    color: #237CE1;
    text-transform: uppercase;
}
.social-media {
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
}
.contents .social-media a {
    text-decoration: none;
    color: #3fe0d5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #3fe0d5;
    border-radius: 50%;
    font-size: 23px;
    transition: .5s ease;
}
.contents .social-media a:hover {
    background-color: #3fe0d5;
    color: black;
    box-shadow: 0 0 17px #3fe0d5;
}

.contents a {
    text-decoration: none;
    color: black;
}
.btn {
    display: inline-block;
    padding: 16px 23px;
    background-color: #3fe0d5;
    border-radius: 48px;
    box-shadow: 5px 3px 16px #3fe0d5;
    font-size: 20px;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    background-color: white;
    color:  #3fe0d5;
}

.img img {
    width: 25vw;
    /* border: 2px solid green; */
    border-radius: 50%;
    background-color: #3fe0d5;
    box-shadow: 0 0 20px #3fe0d5;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    padding: 20px;
    margin: 50px;
}

.img-2 img {
    width: 35vw;
    /* border: 2px solid green; */
    border-radius: 10%;
    background-color: #3fe0d5;
    /* box-shadow: 0 0 20px #3fe0d5; */
}
.about-me {
    margin-left: 60px;
    /* border: 2px solid blue; */
}
.about-me .heading {
    font-size: 50px;
    margin-bottom: 25px;
}
.about-me span {
    color: #3fe0d5;
}

.about-me p {
    font-size: 20px;
    margin-bottom: 25px;
}
.about-me .education {
    /* border: 2px solid orangered; */
    width: 50%;
}
.education h2 {
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.skills {
    /* border: 2px solid red; */
}
.skills h2 {
    text-align: center;
    font-size: 50px;
    color: #3fe0d5;
    padding: 10px 0px 20px 0px;
    /* border: 2px solid rgb(0, 26, 255); */
}
.skill-content {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 2px solid rgb(0, 255, 4); */
}
.t-skill li {
    list-style-type: none;
    padding: 10px;
}
.t-skill h3 {
    margin: 5px ;
    font-size: 25px;
}
.t-skill .bar {
    background: #c1c1c1;
    display: block;
    height: 20px;
    width: 60vw;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    transition: all 0.3s cubic-bezier(.25,.8,.25.1);
}
.bar span {
    height: 20px;
    float: left;
    background: #3fe0d5;
}

.html {
    width: 90%;
    animation: html 3s;
}
.css {
    width: 75%;
    animation: css 3s;
}
.js {
    width: 70%;
    animation: js 3s;
}
.java {
    width: 75%;
    animation: java 3s;
}
.react {
    width: 60%;
    animation: react 3s;
}